# Binarios y build
/bin/
*.exe
*.test

# Go
*.out
vendor/

# Node
node_modules/
dist/

# envs
*.env

# GCP / credenciales
*-key.json
*-sa-key.json
service-account*.json
gcp-credentials.json
credentials.json

# logs
*.log

# SO / editor
.DS_Store
.vscode/
.idea/

# files
*.pdf